sudo: required
dist: trusty
language: generic
services:
- docker
script:
- make build
after_success:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USER" --password-stdin
- make docker-push
env:
  global:
  - secure: Lk0isZ42mRKOlNWHCrjtRYMpWin3r6k5F79V2HxxlmpYSGGYbK61nQzckTJJrGNwzf0pnKOjNe4h9tpKWdPjs2lDhf/muF065mmT3Tb5+ywff70171eROiaDNIsOGcV9W4tfZwb9lgjeSUYNC/nXwX+qtRqKjptJhWXgAdmMnUWlE0SgFlP8LzEX1A6FbIVM3cn6Sxmh0Q93pMMZ8oO3MyDIzLnXmsRoq2KsXIlYnswrU5l6qfYE7zcPuBP5c0ULScLIRQFSk/VUyLkqJkbx6CFuPZmkp8zGHye0eRjL/Xsu+8h7hXLZ329Y7YVbgTfDZghwO7bBAgUIahgVXsPmorsPJUKepy1XlOhIioD0hILKHonA4VwiDybY93rBVzHtKI2Km7FgADEfVWM/LLlsAxWyiQyVFGZYWyfiLesCUZiwez0LDBWf1nwYjUqiVTsvc+xS00CktV2Mzb7JAD39IjfW/uvNwBXkxYX7kAzkY+fUW2rNMTSHxp8b8GH8InCHIxrmMo08x//IwMHMaXF8JNGlcURZmf472jbmhufHbQ63ck8dmiKNlKMYgOM0b0yDmbXVoKyM8DXhfNwW7Gt4+VWdxWLrL8z1tvS2uZzNrdtCOpAsol5GoLm8CeFPhvSrIR5B/bRjhkGRrXCJp+dHXJfmxsRtqZNfxj6UiN4ZETI=
  - secure: H3mt9WW3Pa7D3iaAYatMAf0TcB//r5hajm40ATIdAAsUqHEgaYhS/Ic8vQyVvIwlkG6dEaOHTYZTf+cWhn6b914Qdlp84/mNdrGgkf4DqggviIKD9HnKQ8kgf0oNKeYTh1ak109H9iWfQXm6whSjHLE2hOCZCTSoX4jsdCtE7PAi7jHPC+htov3YcxU/NF5YtUIHqA4CfHTzL0EydPuSs2zN1S5reBvi8EE82+Dxqef4+0feSIXUmgcCFKYa0Yn4Y3oVemR5ABjOcYelz39d8ocKpqxbbhuvAyZomQ5IKm4vQcaX4NrRET3PyfitMNdTUUouzvj37YOIdeqiNaUpbKuL5ESIxnJzm0L8pJ8JJzTztYNnOjY6shI0uzZ9kmWVCYOqajOj/fZoxozRMIl5EHG5Crz7MFvyxULs9nj281IGjySiJnglXjhhiS9yT0gGqJ5DdmGDj8mH63M7lDVTQawrKaIuphCMqoxl1Cbk7/qssBflBtXdk0NRBhV6+BEc8So/bSjDke4KlQaM91ytBqgvNh3f5dE0zZuPXFPUCC0guXVKm6A1S2KBaZLnrci/fiz+qpu5GjkFgG5XVjATYWHKJ2iQrCSlfJ1NFQnVwgKBhB96eSHXx4GSTPz6zZHkabKsp9xgy3o/+KUk8rRlBpdFzq1SuLGOYy7SHfdTOTA=
